# Data Cleaning
## Data Duplication
### Description: Removing the repeated data or duplicate data
#### Link: https://www.kaggle.com/rtatman/data-cleaning-challenge-cleaning-numeric-columns/
#### Author: Sravani.G
#### Revision: 1
####  Date: 22 Aug 2019

## Import Libraries

In [11]:
import numpy as np
import pandas as pd

## Data Set:

In [12]:
#  imputation for deleting duplicated data
# read in steam  book data & column names
df = pd.read_csv ("/Users/HP/Desktop/Data_Duplication_BooleanSeries.csv")
print(df)

    Sl.no    Country   People  Fmlymem  Childs  GnpPrnt
0       1      India    Jagan        8       3        2
1       2    America   Murali        5       2        1
2       3    Newyork    Shiva        4       2        0
3       3    America    Shiva        4       2        0
4       4  Australia  Sreedar        3       1        0
5       4  Australia  Sreedar        3       1        0
6       6     Canada   Suhale        1       0        0
7       6     Europe    Pinki        3       1        0
8       7     Europe   Shreya        2       0        1
9       8      India   Kishan        4       2        0
10      9      China   Vamshi        4       0        2

### Adding columns

In [13]:
# add column names
df['Import'] = 'pc', 'cpu' , 'phones', 'phones', 'laptop', 'laptop', 'iphone', 'android', 'earphones', 'pcs', 'printer'
df['Export'] = 'android', 'pc', 'printer', 'printer', 'iphone', 'iphone', 'earphones', 'pcs', 'laptop', 'phones','android'
#printing the added column data
print(df)

    Sl.no    Country   People  Fmlymem  Childs  GnpPrnt     Import     Export
0       1      India    Jagan        8       3        2         pc    android
1       2    America   Murali        5       2        1        cpu         pc
2       3    Newyork    Shiva        4       2        0     phones    printer
3       3    America    Shiva        4       2        0     phones    printer
4       4  Australia  Sreedar        3       1        0     laptop     iphone
5       4  Australia  Sreedar        3       1        0     laptop     iphone
6       6     Canada   Suhale        1       0        0     iphone  earphones
7       6     Europe    Pinki        3       1        0    android        pcs
8       7     Europe   Shreya        2       0        1  earphones     laptop
9       8      India   Kishan        4       2        0        pcs     phones
10      9      China   Vamshi        4       0        2    printer    android

### Last row Displaying

In [14]:
print(df[10:])   # last row of the data

    Sl.no Country  People  Fmlymem  Childs  GnpPrnt   Import   Export
10      9   China  Vamshi        4       0        2  printer  android

## Sorting the Data by particular column

In [15]:
df.sort_values("People", inplace = True)   # sorting by people 
df.head()    #displaying data

   Sl.no  Country  People  Fmlymem  Childs  GnpPrnt   Import   Export
0      1    India   Jagan        8       3        2       pc  android
9      8    India  Kishan        4       2        0      pcs   phones
1      2  America  Murali        5       2        1      cpu       pc
7      6   Europe   Pinki        3       1        0  android      pcs
2      3  Newyork   Shiva        4       2        0   phones  printer

## Deleting the Duplicate data Using bool_series in pandas

In [16]:
bool_series = df["People"].duplicated()  # making a bool series
bool_series # bool series  
df = df[~bool_series]   # passing NOT of bool series to see unique values only  
df.info() # displaying data 
print(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 10
Data columns (total 8 columns):
Sl.no      9 non-null int64
Country    9 non-null object
People     9 non-null object
Fmlymem    9 non-null int64
Childs     9 non-null int64
GnpPrnt    9 non-null int64
Import     9 non-null object
Export     9 non-null object
dtypes: int64(4), object(4)
memory usage: 648.0+ bytes
    Sl.no    Country   People  Fmlymem  Childs  GnpPrnt     Import     Export
0       1      India    Jagan        8       3        2         pc    android
9       8      India   Kishan        4       2        0        pcs     phones
1       2    America   Murali        5       2        1        cpu         pc
7       6     Europe    Pinki        3       1        0    android        pcs
2       3    Newyork    Shiva        4       2        0     phones    printer
8       7     Europe   Shreya        2       0        1  earphones     laptop
4       4  Australia  Sreedar        3       1        0     laptop     iphone
6       6     Canada   Suhale        1       0        0     iphone  earphones
10      9      China   Vamshi        4       0        2    printer    android

### some data having same sl.no to update

In [17]:
# sl.no in the column has same to update 
df.loc[6, 'Sl.no'] = 5
print(df)

    Sl.no    Country   People  Fmlymem  Childs  GnpPrnt     Import     Export
0       1      India    Jagan        8       3        2         pc    android
9       8      India   Kishan        4       2        0        pcs     phones
1       2    America   Murali        5       2        1        cpu         pc
7       6     Europe    Pinki        3       1        0    android        pcs
2       3    Newyork    Shiva        4       2        0     phones    printer
8       7     Europe   Shreya        2       0        1  earphones     laptop
4       4  Australia  Sreedar        3       1        0     laptop     iphone
6       5     Canada   Suhale        1       0        0     iphone  earphones
10      9      China   Vamshi        4       0        2    printer    android

## summary: 
#### *DataFrame.sort_values("particular column", inplace = True): This function used in pandas to sort particular column in the dataset as inplacing them as True.
#### *DataFrame["particular column"].duplicate() is a function used for sloely deleting the duplicate data for column. 
##### *bool_series is used to store the data to perform duplication function.
##### *In order to access or update a dataframe with a boolean index using 
####  DataFrame.loc[index value, 'paticular column'] = value to update